.body{
    width: 40%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 120px;
    border: 1px solid rgb(238, 168, 168);
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}
.logoForm{
    margin-top: 20px;
    width: 80%;
}
.infos{
    margin-top: 25px;
    margin-bottom: 20px;
}
.infos h2{
    font-size: 28px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.infos p{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.form-container{
    margin: 0 auto;
}
.form-categories{
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
.form-categories label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}
.form-categories input {
    border-radius: 10px;
    border: 1px solid black;
    width: 40%;
}
.buttonForm{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 85px;
    height: 35px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    background-color: red;
    border-radius: 10px;
    color: white;
    border: 0.5px solid black;
}
